body {
  background: springgreen;
}
header {
  background-color: steelblue;
}
section {
  background-color: yellow;
  background-image: url("./images/profile-2.jpg");
}
footer {
  background-color: black;
}
